__pycache__/
*.pyc
.venv/
.env
data/output/*.csv
legacy/
data/input/simulacao_completa_br.csv
streamlit_app_*.log
SimuladorBiomassa.log
build/
dist/
*.spec
data/input/old/*
data/output/simulacao*
data/output/old/simulacao*
data/output/old 2/simulacao*
data/output/ajustado/*
math/old/*
docs/old/*
update_docs.py
src/old/*
adapta/*