__pycache__/
*.pyc
.venv/
.env
data/output/*.csv
legacy/
data/input/simulacao_completa_br.csv
streamlit_app_*.log
SimuladorBiomassa.log
build/
dist/
*.spec
SimuladorBiomassa.exe
data/output/old/*
data/output/old 2/*
data/input/old/*
math/old/*
docs/old/*
update_docs.py